---
layout: default
---

<div class="posts">
  {% assign all_posts = site.posts %}
  
  {% comment %} Featured: Latest Post {% endcomment %}
  {% assign latest = all_posts.first %}
  <div class="post featured">
    <h2 class='title'>
      <a href="{{ latest.url }}">{{ latest.title }}</a>
    </h2>
    <span class="post-date">
      {{ latest.date | date: site.date_format }}
      {% if latest.tags.size > 0 %}
        &middot;
        {% for tag in latest.tags limit:3 %}
          <span class="tag">{{ tag }}</span>{% unless forloop.last %} {% endunless %}
        {% endfor %}
      {% endif %}
    </span>
    {{ latest.excerpt }}
  </div>

  {% comment %} Archive: All Other Posts {% endcomment %}
  {% if all_posts.size > 1 %}
  <div class="archive">
    <h3>All Posts</h3>
    <ul class="post-list">
      {% for post in all_posts offset:1 %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %Y" }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
