---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class='title'>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>

    <span class="post-date">
      {{ post.date | date: site.date_format }}
      {% if site.disqus_shortname %}
        &middot;
        <a href="https://mez.github.io{{ post.url }}#disqus_thread">0 Comments</a>
        {% if post.update_date %}
          &middot;
          Updated {{ post.update_date | date: site.date_format }}
        {% endif %}
      {% endif %}
    </span>


    {{ post.excerpt }}

    <a href="{{ post.url }}" class='read-more'>Read More</a>
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="older">Older</a>
  {% else %}
    <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer">Newer</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
    <span class="previous">Newer</span>
  {% endif %}
</div>
