---
layout: default
---

<a href="/" class="back-link">← All Posts</a>

<div class="post">
  <h1 class='title'>{{ page.title }}</h1>
  <span class="post-date">
    {{ page.date | date: site.date_format }}
    {% if page.update_date %}
        &middot;
        Updated {{ page.update_date | date: site.date_format }}
    {% endif %}
    {% if page.tags.size > 0 %}
        &middot;
        {% for tag in page.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
    {% endif %}
  </span>
  {{ content }}
</div>
{% include share-page.html %}

<hr/>
<div class="related">
  <h3>More Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <h4><a href="{{ post.url }}">
        {{ post.title }}
        <small>{{ post.date | date: site.date_format }}</small>
      </a></h4>
    {% endfor %}
  </ul>
</div>
